     /* Reset CSS */
     html {
        --var-bg-color: #7743e9;
        --var-secondary-color: #6e51cf;
        --var-text-color: #fff;
        --var-text-color-dark: #333;
        --var-bg-light: #f0f4ff;
        --var-bg-dark: #d3c9f3;
      }
     * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        line-height: 1.6;
        background-color: #d3c9f3;
        color: #333;
    }
    header .logo img{
        width: 30px;
        display: block;
        margin: 0 auto;/* Centrer le logo horizontalement */
        
    }
    
    /* En-tête */
    header {
        height: 4rem;
        background-color: white;
        padding: 0 2rem;
        text-align: center;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 1000;
      }
    header nav ul{
        display: flex;
        align-items: center;
        list-style: none;
        gap: 5rem;
    
    } 
    header nav ul li a {
        text-decoration: none;
        color: #6e51cf;
        text-decoration: none;
        font-weight: 500;
        padding: 10px;
    }


    nav ul li a.active,
    nav ul li a:hover {
        background-color: #444;
        border-radius: 5px;
        color: white;
    }
    #nav-latteral {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 250px;
        height: 500px;
        background-color: white;
        box-shadow: 2px 0 5px rgba(0,0,0,0.5);
        z-index: 1000;
        border-radius: 5px;
        
        background: linear-gradient(90deg, var(--var-bg-color) 25%, #9b8dc8 100%);
        }
        
        /* Montrer la barre latérale lorsqu'elle est active */
        #nav-latteral.active {
        display: block;
        }
        
        /* Styles supplémentaires pour le wrapper pour couvrir toute la page quand la barre latérale est ouverte */
        #nav-wrapper.active {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
        }
        
        /* Masquer le wrapper par défaut */
        #nav-wrapper {
        display: none;
        }
        
        
        #nav-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.6);
        z-index: 2;
        display: none;
        }
        
        #nav-wrapper.active {
        display: block;
        }
        
        #nav-close {
        margin-bottom: 4rem;
        }
        
        .nav-links {
        padding: 1rem 6rem 1rem 3rem;
        }
        
        .nav-link {
        cursor: pointer;
        font-size: 25px;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        }
        
        .nav-link a{
        list-style: none;
        text-decoration: none;
        }
        
        .nav-link ion-icon {
        margin-right: 15px;
        }
        
        .nav-link{
        transition: all 0.2s ease;
        }
        
        .nav-button {
        position: absolute;
        font-size: 40px;
        cursor: pointer;
        height: 50px;
        width: 50px;
        display: none;
        justify-content: center;
        border-radius: 5px;
        top: 10px;
        left:  10px;
        }
        
        .nav-button:hover {
        color: bleu;
        background-color: #dedede;
        }
        /* Default button style */
        .button {
        padding: 10px 20px;
        background-color: blue; 
        color: white; 
        font-size: 20px; 
        }
        main::-webkit-scrollbar {
            background-color: #dedede;
            width: 0.5rem;
            }
            main::-webkit-scrollbar-thumb {
            background-color: #757575;
            }
            
    main{
        background-color: #fff;
        margin: 5px;
        border-radius: 5px;
    }
    .history h2{
        color: #0073e6;
        font-size: 2em;
        text-align: center;

    } 
    .history p{
        font-size: 1.2em;
        line-height: 1.5;
    }
    .mission h2{
        color: #0073e6;
        font-size: 2em;
        text-align: center;

    }
    .mission p{
        font-size: 1.2em;
        line-height: 1.5;
    }
    .about{
        margin: 0 10px;
    }
    .animation-container{
        margin: 0 5px;
    }
    .animation-container h2 {
            color: #0073e6;
            font-size: 2em;
            text-align: center;
        }
    .animation-container p {
        font-size: 1.2em;
        line-height: 1.5;
    }
    .animation-container button {
        display: block;
        margin: 20px auto;
        padding: 10px 20px;
        background-color: #0073e6;
        color: white;
        border: none;
        border-radius: 10px;
        font-size: 1.2em;
        cursor: pointer;
        transition: background-color 0.3s;
    }
    .animation-container button:hover {
        background-color: #6e51cf;
    }
    .animation-container .details {
        margin-top: 20px;
        border-top: 2px solid #6e51cf;
        padding-top: 20px;
    }
    .animation-container .image-section {
        text-align: center;
        margin: 20px 0;
    }
    .animation-container .image-section img {
        width: 200px;
        border-radius: 15px;
    }
    .animation-container .bubble {
        position: absolute;
        bottom: -100px;
        background: linear-gradient(90deg, var(--var-bg-color) 15%, #9b8dc8 100%);
        border-radius: 50%;
        opacity: 0.7;
        animation: rise 10s infinite;
    }
    #primaire h2 {
        color: #0073e6;
        font-size: 2.5em;
        text-align: center;
        margin-bottom: 20px;
    }
    
    #primaire p {
        font-size: 1.2em;
        line-height: 1.5;
    }
    #primaire button {
        display: block;
        margin: 20px auto;
        padding: 15px 30px;
        background-color: #0073e6;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    #primaire button:hover {
        background-color: #005bb5;
        transform: scale(1.05);
    }
    #primaire .details {
        margin-top: 20px;
        border-top: 2px solid #0073e6;
        padding-top: 20px;
    }
    
    #primaire h3 {
        color: #0073e6;
        font-size: 1.8em;
        margin-bottom: 10px;
    }
    #primaire .image-section {
        text-align: center;
        margin: 20px 0;
    }
    
    #primaire .image-section img {
        width: 100%;
        max-width: 300px;
        border-radius: 15px;
        transition: transform 0.3s;
    }
    
    #primaire .image-section img:hover {
        transform: scale(1.1);
    }
    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
    }
    #primaire .details {
        animation: fadeIn 1s ease-in-out;
    }
    #terminal h2 {
        color: #0073e6;
        font-size: 2em;
        margin-bottom: 20px;
    }
    
    #terminal p {
        font-size: 1.2em;
        line-height: 1.5;
    }
    #terminal button {
        display: block;
        margin: 20px auto;
        padding: 15px 30px;
        background-color: #0073e6;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1.9em;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    #terminal button:hover {
        background-color: #1f618d;
        transform: scale(1.05);
    }
    #terminal .details {
        margin-top: 20px;
        border-top: 2px solid #2980b9;
        padding-top: 20px;
        display: none;
    }
    
    #terminal h3 {
        color: #0073e6;
        font-size: 1.8em;
        margin-bottom: 15px;
    }
    #terminal h4 {
        color: #0073e6;
        font-size: 1.5em;
        margin-top: 20px;
    }
    
    #terminal .image-section {
        text-align: center;
        margin: 30px 0;
    }
    #terminal .image-section img {
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        transition: transform 0.3s;
    }
    #terminal .details {
        animation: fadeIn 0.8s ease-in-out;
    }
    #humanitarian-activities{
        background-color: white;
        margin: 0 5px;
        border-radius: 5px;
    }
    #humanitarian-activities h2{
        margin: 5px;
    }
    #humanitarian-activities p{
        margin: 5px;
    }
    #humanitarian-activities .image-section img {
        width: 100%;
        max-width: 600px;
        border-radius: 10px;
        transition: transform 0.3s;
    }
    #admissions{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #admissions h2{
        margin: 5px;
    }
    #admissions p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    #admissions button{
        display: block;
        margin: 20px auto;
        padding: 15px 30px;
        background-color: #0073e6;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s, transform 0.3s;
    }
    
    #admissions button:hover {
        background-color: #1f618d;
        transform: scale(1.05);
    }

    #admissions h3{
        color: #0073e6;
        font-size: 1.5em;
        margin-top: 20px;
        margin: 5px;
    }
    #forms-documents{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #forms-documents h2{
        margin: 5px;
    }
    #forms-documents p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    #forms-documents a{
        display: grid;
        margin: 10px;
    }
    #admissions h3{
        color: #0073e6;
        font-size: 1.5em;
        margin-top: 20px;
        margin: 5px;
    }
    #important-dates{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #important-dates h2{
        margin: 5px;
    }
    #important-dates p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    #payment{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #payment h2{
        margin: 5px;
    }
    #payment p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    #academic-schedule{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #academic-schedule h2{
        margin: 5px;
    }
    #academic-schedule p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    .charity-events{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    .charity-events h2{
        margin: 5px;
    }
    .charity-events p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    #faqs{
        background-color: white;
        border: 0 5px;
        border-radius: 5px;
        margin: 5px;
    }
    #faqs h2{
        margin: 5px;
    }
    #faqs p{
        margin: 5px;
        font-size: 1.2em;
        line-height: 1.5;
    }
    @media (max-width: 600px) {
        main {
            padding: 20px;
        }
    
        #terminal h2 {
            font-size: 1.5em;
        }
    
        #terminal p {
            font-size: 1em;
        }
    
        #terminal button {
            font-size: 1em;
            padding: 10px 20px;
        }
    
        #terminal h3 {
            font-size: 1.5em;
        }
    
        #terminal h4 {
            font-size: 1.2em;
        }}
    @media (max-width: 600px) {
        main {
            padding: 10px;
        }
    
        #primaire h2 {
            font-size: 2em;
        }
    
        #primaire p {
            font-size: 1em;
        }
    
        #primaire button {
            font-size: 1em;
        }
    
        #primaire h3 {
            font-size: 1.5em;
        }
        #primaire .image-section img {
            max-width: 100%;
        }
    }
    
    @keyframes rise {
        0% {
            transform: translateY(0) scale(1);
            opacity: 0.7;
        }
        50% {
            opacity: 0.4;
        }
        100% {
            transform: translateY(-1000px) scale(1.5);
            opacity: 0;
        }
    }
    @media screen and (max-width : 768px){
        header{
           flex-direction: column;}
        header nav ul li a {    
            display: none;
        }
           
        header .logo img{
            margin: 9px;
        }}
